<html>
	<head>
		<title>Leaf Protein Culling Server</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<br>
		<div id="navigation" align="center">
			<b><a href="{{ url_for('home') }}">Home</a></b>
			<hr>
			<b><a href="{{ url_for('code_and_PDB') }}">Local Culling</a></b>
			<hr>
			<b><a href="{{ url_for('culling') }}">Server Culling</a></b>
			<hr>
			<b><a href="{{ url_for('downloads') }}">Pre-Culled Lists</a></b>
			<hr>
			<b><a href="{{ url_for('contacts') }}">Contact Information</a></b>
		</div>
		<div id="content">
			<p align="center">
				Instructions in the README file in the source code download
				<br>
				Source code download for Windows
				<br>
				Source code download for Linux
				<br>
				PDB gzipped data
				<br><br>
				The repository for the Leaf code can be found <b><a href="https://github.com/SimonCB765/Leaf">here</a></b>.
			</p>
		</div>
	</body>
</html>