<html>
	<head>
		<title>Leaf Protein Culling Server</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<br>
		<div id="navigation" align="center">
			<b><a href="{{ url_for('home') }}">Home</a></b>
			<hr>
			<b><a href="{{ url_for('culling') }}">Culling</a></b>
			<hr>
			<b><a href="{{ url_for('downloads') }}">Pre-Culled Lists</a></b>
			<hr>
			<b><a href="{{ url_for('contacts') }}">Contact Information</a></b>
		</div>
		<div id="content">
			<p>
				For questions concerning the website, please contact:<br>
				<ul>
					<li>Simon Bull: simon.bull@postgrad.manchester.ac.uk</li>
				</ul>
			</p>
			<p>
				For all other queries, contact one of:<br>
				<ul>
					<li>Simon Bull: simon.bull@postgrad.manchester.ac.uk</li>
					<li>Andrew Doig: andrew.doig@manchester.ac.uk</li>
					<li>Mark Muldoon: M.Muldoon@manchester.ac.uk</li>
				</ul>
			</p>
		</div>
		<div id="footer">
			<p>Last updated <!-- #BeginDate format:Am1 -->January 16, 2014<!-- #EndDate -->.</p>
		</div>
	</body>
</html>